*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans Unicode';
    font-size: medium;
    color: rgba(87, 58, 24, 0.852);
}
body{
    background-color: rgb(152, 217, 196);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;

}
.form-container{
    padding-top: 1rem;
    padding-left: .5rem;
    padding-right: 3rem;
    
}

input[type="text"],input[type="email"]{
    display: block;
    margin: .3rem;
    height: 1.5rem;
    width: 100%;
}

button {
    margin: 30px auto;
    padding: 0.5rem 1rem;
    display: block;
    /* text-shadow: 2px 2px 8px #FF0000; */
    background-color: rgb(255, 255, 255);
    color: rgba(255, 0, 0, 0.852);
    border-color: rgba(255, 42, 0, 0.805);
    border-radius: 7px;
    border: 2px solid red;
    width: fit-content;
    font-size:medium;
    font-weight:bold;
    transition: background-color 0.15s, color 0.15s;
}
button:hover {
    background-color: rgb(235, 22, 22);
    color: white;
    scale: 1.03;
    transition: .5s;
    cursor: pointer;
}
button:active {
    opacity: 0.4;
}