*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: rgb(30, 41, 41);
    display: block;
    margin: 10px auto;
     padding: 10px 17px ; 
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    color: aliceblue;
}
.title{
    text-align: center;
    padding-bottom: 1rem;
}

.Information{
    max-width: 960px;
    margin: auto;
}
.content{
    border: 1px solid rgb(95, 17, 17);
    padding: 1rem 0;
    width: 50%;
    margin: 1rem auto;
    background-color: yellowgreen;
    /* align-items: center; */
}