*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
    font-size: large;
}


.container{
    border: 6px white double;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;

}
.form-container{
    padding:4em;
    border: 6px white double;
    text-align: justify;
}

input[type="text"],input[type="email"]{
    display: block;
    margin: 1rem;
    height: 1.5rem;
    width: 100%;

}
button{
    display: block;
    margin: 1em;
    padding: .4rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    left:47%;
}
button:hover{
    background-color: pink;
    scale: 1.03;
    transition: .5s;
}