*{
 margin: 0;
 padding: 0;
}

.container{
    align-items: center;
    width: 500px;
    background-color: antiquewhite;
    height: 350px;
    margin: 3rem auto;
    border: 1px solid rgb(255, 251, 251);
}
.container h2{
    align-items: center;
    margin: 1rem 12rem;
    display: flex;
    width: 140px;
}

.container form{
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-container button{
    font-size: 13px;
    padding: 2px;
    margin: 2rem 14rem;
    background-color: rgb(67, 66, 66);
    color: beige;
    
}