*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    background-color: aliceblue;

}
.form-container{
padding: 13px 10px 10px 10px;
    
}

input[type="text"],input[type="email"]{
    display: block;
    margin: 7px;
    height: 25px;
    width: 100%;
}
button{
    display: block;
    margin: 7px auto;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(163, 138, 91);

}